/**
 * CSS for Guiders.js
 * Version 2.0.0
 *
 * It is expected that you'll modify this to fit your site's style.
 */

.guider {
  background: #FFF;
  border: 1px solid #666;
  font-family: arial;
  position: absolute;
  outline: none;
  padding: 4px 12px;
  width: 500px;
  z-index: 900001 !important;
  
  /* Shadow */
  -moz-box-shadow: 0 0px 8px #111;
  -webkit-box-shadow: 0 0px 8px #111;
  box-shadow: 0 0px 8px #111;
  /* End shadow */
  
  /* Rounded corners */
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  /* End rounded corners */
}


/**
 * Added pure CSS icons instead of PNG base64 image, using base64 icon set
 * Aaron Russell - TeknoloGenie
 * Font used: Mordern Pictograms by John Caserta
 * TODO: ADD actual font files for better compatibility with IE and older browsers
 */


@font-face {
  font-family: 'guiders';
  src: url('data:application/octet-stream;base64,d09GRgABAAAAAAo0AA4AAAAAEVAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABPUy8yAAABRAAAAEQAAABWPkhHjWNtYXAAAAGIAAAASAAAAWLQktJ+Y3Z0IAAAAdAAAAAUAAAAHAVP/wZmcGdtAAAB5AAABPkAAAmRigp4O2dhc3AAAAbgAAAACAAAAAgAAAAQZ2x5ZgAABugAAAChAAAA4oX1wAdoZWFkAAAHjAAAADIAAAA2/8ZfD2hoZWEAAAfAAAAAHgAAACQGDwNZaG10eAAAB+AAAAAYAAAAGA59AABsb2NhAAAH+AAAAA4AAAAOAMUAfm1heHAAAAgIAAAAIAAAACAAnwmwbmFtZQAACCgAAAF6AAACwWLi055wb3N0AAAJpAAAADgAAABJLFoPLHByZXAAAAncAAAAVgAAAFaSoZr/eJxjYGTKYpzAwMrAwVTFtIeBgaEHQjM+YDBkZGJgYGJgZWbACgLSXFMYHF4ovIhgDvqfxRDF1McwDSjMCJIDAO9IDFF4nGNgYGBmgGAZBkYGEIgB8hjBfBYGByDNw8DBwARkM7xQfGH0IuhFxP//IGUvFBA88YfiF8U3ia+FmgAHjGwMIx4AAHIkEah4nGNgQANGDEZMff+zQBgAFBwEV3icnVXZdtNWFJU8ZHASOmSgoA7X3DhQ68qEKRgwaSrFdiEdHAitBB2kDHTkncc+62uOQrtWH/m07n09JLR0rbYsls++R1tn2DrnRhwjKn0aiGvUoZKXA6msPZZK90lc13Uvj5UMBnFdthJPSZuonSRKat3sUC7xWOsqWSdYJ+PlIFZPVZ5noAziFB5lSUQbRBuplyZJ4onjJ4kWZxAfJUkgJaMQp9LIUEI1GsRS1aFM6dCr1xNx00DKRqMedVhU90PFJ8c1p9SsA0YqVznCFevVRr4bpwMve5DEOsGzrYcxHnisfpQqkIqR6cg/dkpOlIaBVHHUoVbi6DCTX/eRTCrNQKaMYkWl7oG43f102xYxPXQ6vi5KlUaqurnOKJrt0fGogygP2cbppNzQ2fbw5RlTVKtdcbPtQGYNXErJbHSfRAAdJlLj6QFONZwCqRn1R8XZ588BEslclKo8VTKHegOZMzt7cTHtbiersnCknwcyb3Z2452HQ6dXh3/R+hdM4cxHj+Jifj5C+lBqfiJOJKVGWMzyp4YfcVcgQrkxiAsXyuBThDl0RdrZZl3jtTH2hs/5SqlhPQna6KP4fgr9TiQrHGdRo/VInM1j13Wt3GdQS7W7Fzsyr0OVIu7vCwuuM+eEYZ4WC1VfnvneBTT/Bohn/EDeNIVL+5YpSrRvm6JMu2iKCu0SVKVdNsUU7YoppmnPmmKG9h1TzNKeMzLj/8vc55H7HN7xkJv2XeSmfQ+5ad9HbtoPkJtWITdtHblpLyA3rUZu2lWjOnYEGgZpF1IVQdA0svph3Fab9UDWjDR8aWDyLmLI+upER521tcofxX914gsHcmmip7siF5viLq/bFj483e6rj5pG3bDV+MaR8jAeRnocmtBZ+c3hv+1N3S6a7jKqMugBFUwKwABl7UAC0zrbCaT1mqf48gdgXIZ4zkpDtVSfO4am7+V5X/exOfG+x+3GLrdcd3kJWdYNcmP28N9SZKrrH+UtrVQnR6wrJ49VaxhDKrwour6SlHu0tRu/KKmy8l6U1srnk5CbPYMbQlu27mGwI0xpyiUeXlOlKD3UUo6yQyxvKco84JSLC1qGxLgOdQ9qa8TpoXoYGwshhqG0vRBwSCldFd+0ynfxHqtr2Oj4xRXh6XpyEhGf4ir7UfBU10b96A7avGbdMoMpVaqn+4xPsa/b9lFZaaSOsxe3VAfXNOsaORXTT+Rr4HRvOGjdAz1UfDRBI1U1x+jGKGM0ljXl3wR0MVZ+w2jVYvs93E+dpFWsuUuY7JsT9+C0u/0q+7WcW0bW/dcGvW3kip8jMb8tCvw7B2K3ZA3UO5OBGAvIWdAYxhYmdxiug23EbfY/Jqf/34aFRXJXOxq7eerD1ZNRJXfZ8rjLTXZZ16M2R9VOGvsIjS0PN+bY4XIstsRgQbb+wf8x7gF3aVEC4NDIZZiI2nShnurh6h6rsW04VxIBds2x43QAegAuQd8cu9bzCYD13CPnLsB9cgh2yCH4lByCz8i5BfA5OQRfkEMwIIdgl5w7AA/IIXhIDsEeOQSPyNkE+JIcgq/IIYjJIUjIuQ3wmByCJ+QQfE0OwTdGrk5k/pYH2QD6zqKbQKmdGhzaOGRGrk3Y+zxY9oFFZB9aROqRkesT6lMeLPV7i0j9wSJSfzRyY0L9iQdL/dkiUn+xiNRnxpeZIymvDp7zjg7+BJfqrV4AAAAAAQAB//8AD3icZY0xCsJAEEVnvpAQREJQ2CatrJBaUpo+ZxCSK9hpcoYcJrK7XiXHEPvRXUUhODBT/P/mf2Lygxw1gTZVxkwHv9QGlYC0SIBcHnJHLZonevMsaLwdXUG8K7YJswhYjky8CPY/k30YNPIUoS8z663mvXv/seL0xJPoH99ioKXPjELmWpUqVrGOdak7Yzrren+dxWBMP97O1l7cSC9zty4iAAAAeJxjYGRgYABin4g7r+P5bb4ycDO/AIownFde+Q5CF64D0UyJTH1AioOBCcQDAEsyCpoAAHicY2BkYGAO+p/FEMX8ggEImBIZGBlQARsAXF8DbwAAA+gAAAIcAAAB/gAAAf4AAAIcAAACYQAAAAAAAAAYACoAPABUAHEAAAABAAAABgAMAAEAAAAAAAIABAARAG4AAAAlCZEAAAAAeJx1kM1qwkAUhU/8K1XoooVCd7NqlUL8QTfShSAodFcXQqGbqDGJxIxMJoIv0Xfog/RV+iw9SS6lFZphuN89c+bOzQVwjS84KL8Rd8kOLpiVXCE/CVfJU+Ea+Vm4jhZehBvU34SbeMRauIUbvLOCU7tktsOHsIMrpyVcId8JV8kPwjXySLiOW2cq3KD+KtzE0gmEW7h3Pqf6cDJREFrVnnbUoNcfqtVJaUpR4sXKy2yoTaomaqsT68exdtd6H2TRxjfpwg+y2DOSSVhyRzpRfbcnytxPfONZf5NXTo/BwNqt2hq9VzOpqQ5G7/y1dUNrD+Nu9/dbHKXGAScYRAgQwkKhTbXDOEAPfQxJKzoUnaUrQgIPMRUPGW+ExUnKfMK9ZZZQ9emIyS7Hr7HnvYw3N9Rz74IxV2LWMGdnf7OlxKioq9iRy77+euaMScFe8fLmp+cUR3oHVC07y7szRTcKs7M+FeeQn+2orKm7xTQs1TG6XP/81zdcpIBlAAB4nGNgYoAALgbsgI2BgZGJkZmRhZGVkY0lJb88jyUnNa2EtSgzPaOEqbSANTknvziVgQEAg7oIvEu4AMhSWLEBAY5ZuQgACABjILABI0SwAyNwsgQoCUVSRLIKAgcqsQYBRLEkAYhRWLBAiFixBgNEsSYBiFFYuAQAiFixBgFEWVlZWbgB/4WwBI2xBQBEAAA=') format('woff'),
       url('data:application/octet-stream;base64,AAEAAAAOAIAAAwBgT1MvMj5IR40AAADsAAAAVmNtYXDQktJ+AAABRAAAAWJjdnQgBU//BgAAB0gAAAAcZnBnbYoKeDsAAAdkAAAJkWdhc3AAAAAQAAAHQAAAAAhnbHlmhfXABwAAAqgAAADiaGVhZP/GXw8AAAOMAAAANmhoZWEGDwNZAAADxAAAACRobXR4Dn0AAAAAA+gAAAAYbG9jYQDFAH4AAAQAAAAADm1heHAAnwmwAAAEEAAAACBuYW1lYuLTngAABDAAAALBcG9zdCxaDywAAAb0AAAASXByZXCSoZr/AAAQ+AAAAFYAAQJqAZAABQAIAnoCvAAAAIwCegK8AAAB4AAxAQIAAAIABQMAAAAAAAAAAAAAAAAAAAAAAAAAAAAAUGZFZABA6CDoWANS/2oAWgKOAJYAAAABAAAAAAAAAAAAAwAAAAMAAAAcAAEAAAAAAFwAAwABAAAAHAAEAEAAAAAMAAgAAgAEAADoIegy6FLoWP//AAAAAOgg6DLoUuhY//8AABfhF9EXshetAAEAAAAAAAAAAAAAAAAAAAEGAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAQAAAAACHAJLAAIAFEARAQEAPwEBAABhAAAAAgACAg8rCQICHP7z/vECS/4nAdkAAQAAAAAB/gJgAAIABrMCAAEoKyUJAQH+/gIB/l0BAAEDAAAAAQAAAAAB/gJgAAIABrMCAAEoKxEJAQH+/gICYP7//v4AAAAAAQAAAAACHAJLAAIAFEARAQEAQAEBAABhAAAAAgACAg8rNQkBAQ0BD3IB2f4nAAAAAQAAAAACYQKOAAsABrMGAAEoKxMXNxcHFwcnByc3J3u1tXu2t3y1tXu3tgKOtbV8srh5trZ6t7IAAAAAAQAAAAEAAExY3OtfDzz1AAsD6AAAAADPI6nuAAAAAM8jca4AAAAAAmECjgAAAAgAAgAAAAAAAAABAAADUv9qAFoD6AAAAAACYQABAAAAAAAAAAAAAAAAAAAABgPoAAACHAAAAf4AAAH+AAACHAAAAmEAAAAAAAAAGAAqADwAVABxAAAAAQAAAAYADAABAAAAAAACAAQAEQBuAAAAJQmRAAAAAAAAABIA3gABAAAAAAAAADUAAAABAAAAAAABAAcANQABAAAAAAACAAcAPAABAAAAAAADAAcAQwABAAAAAAAEAAcASgABAAAAAAAFAAsAUQABAAAAAAAGAAcAXAABAAAAAAAKACsAYwABAAAAAAALABMAjgADAAEECQAAAGoAoQADAAEECQABAA4BCwADAAEECQACAA4BGQADAAEECQADAA4BJwADAAEECQAEAA4BNQADAAEECQAFABYBQwADAAEECQAGAA4BWQADAAEECQAKAFYBZwADAAEECQALACYBvUNvcHlyaWdodCAoQykgMjAxNCBieSBvcmlnaW5hbCBhdXRob3JzIEAgZm9udGVsbG8uY29tZ3VpZGVyc1JlZ3VsYXJndWlkZXJzZ3VpZGVyc1ZlcnNpb24gMS4wZ3VpZGVyc0dlbmVyYXRlZCBieSBzdmcydHRmIGZyb20gRm9udGVsbG8gcHJvamVjdC5odHRwOi8vZm9udGVsbG8uY29tAEMAbwBwAHkAcgBpAGcAaAB0ACAAKABDACkAIAAyADAAMQA0ACAAYgB5ACAAbwByAGkAZwBpAG4AYQBsACAAYQB1AHQAaABvAHIAcwAgAEAAIABmAG8AbgB0AGUAbABsAG8ALgBjAG8AbQBnAHUAaQBkAGUAcgBzAFIAZQBnAHUAbABhAHIAZwB1AGkAZABlAHIAcwBnAHUAaQBkAGUAcgBzAFYAZQByAHMAaQBvAG4AIAAxAC4AMABnAHUAaQBkAGUAcgBzAEcAZQBuAGUAcgBhAHQAZQBkACAAYgB5ACAAcwB2AGcAMgB0AHQAZgAgAGYAcgBvAG0AIABGAG8AbgB0AGUAbABsAG8AIABwAHIAbwBqAGUAYwB0AC4AaAB0AHQAcAA6AC8ALwBmAG8AbgB0AGUAbABsAG8ALgBjAG8AbQAAAAACAAAAAAAAAAoAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYAAAECAQMBBAEFAQYEZG93bgRsZWZ0BXJpZ2h0AnVwBWNsb3NlAAAAAAAAAQAB//8ADwAAAAAAAAAAAAAAAAAAAAAAMgAyAo7/agKO/2qwACywIGBmLbABLCBkILDAULAEJlqwBEVbWCEjIRuKWCCwUFBYIbBAWRsgsDhQWCGwOFlZILAKRWFksChQWCGwCkUgsDBQWCGwMFkbILDAUFggZiCKimEgsApQWGAbILAgUFghsApgGyCwNlBYIbA2YBtgWVlZG7AAK1lZI7AAUFhlWVktsAIsIEUgsAQlYWQgsAVDUFiwBSNCsAYjQhshIVmwAWAtsAMsIyEjISBksQViQiCwBiNCsgoAAiohILAGQyCKIIqwACuxMAUlilFYYFAbYVJZWCNZISCwQFNYsAArGyGwQFkjsABQWGVZLbAELLAHQyuyAAIAQ2BCLbAFLLAHI0IjILAAI0JhsIBisAFgsAQqLbAGLCAgRSCwAkVjsAFFYmBEsAFgLbAHLCAgRSCwACsjsQIEJWAgRYojYSBkILAgUFghsAAbsDBQWLAgG7BAWVkjsABQWGVZsAMlI2FERLABYC2wCCyxBQVFsAFhRC2wCSywAWAgILAJQ0qwAFBYILAJI0JZsApDSrAAUlggsAojQlktsAosILgEAGIguAQAY4ojYbALQ2AgimAgsAsjQiMtsAssS1RYsQcBRFkksA1lI3gtsAwsS1FYS1NYsQcBRFkbIVkksBNlI3gtsA0ssQAMQ1VYsQwMQ7ABYUKwCitZsABDsAIlQrEJAiVCsQoCJUKwARYjILADJVBYsQEAQ2CwBCVCioogiiNhsAkqISOwAWEgiiNhsAkqIRuxAQBDYLACJUKwAiVhsAkqIVmwCUNHsApDR2CwgGIgsAJFY7ABRWJgsQAAEyNEsAFDsAA+sgEBAUNgQi2wDiyxAAVFVFgAsAwjQiBgsAFhtQ0NAQALAEJCimCxDQUrsG0rGyJZLbAPLLEADistsBAssQEOKy2wESyxAg4rLbASLLEDDistsBMssQQOKy2wFCyxBQ4rLbAVLLEGDistsBYssQcOKy2wFyyxCA4rLbAYLLEJDistsBkssAgrsQAFRVRYALAMI0IgYLABYbUNDQEACwBCQopgsQ0FK7BtKxsiWS2wGiyxABkrLbAbLLEBGSstsBwssQIZKy2wHSyxAxkrLbAeLLEEGSstsB8ssQUZKy2wICyxBhkrLbAhLLEHGSstsCIssQgZKy2wIyyxCRkrLbAkLCA8sAFgLbAlLCBgsA1gIEMjsAFgQ7ACJWGwAWCwJCohLbAmLLAlK7AlKi2wJywgIEcgILACRWOwAUViYCNhOCMgilVYIEcgILACRWOwAUViYCNhOBshWS2wKCyxAAVFVFgAsAEWsCcqsAEVMBsiWS2wKSywCCuxAAVFVFgAsAEWsCcqsAEVMBsiWS2wKiwgNbABYC2wKywAsANFY7ABRWKwACuwAkVjsAFFYrAAK7AAFrQAAAAAAEQ+IzixKgEVKi2wLCwgPCBHILACRWOwAUViYLAAQ2E4LbAtLC4XPC2wLiwgPCBHILACRWOwAUViYLAAQ2GwAUNjOC2wLyyxAgAWJSAuIEewACNCsAIlSYqKRyNHI2EgWGIbIVmwASNCsi4BARUUKi2wMCywABawBCWwBCVHI0cjYbAGRStlii4jICA8ijgtsDEssAAWsAQlsAQlIC5HI0cjYSCwBCNCsAZFKyCwYFBYILBAUVizAiADIBuzAiYDGllCQiMgsAhDIIojRyNHI2EjRmCwBEOwgGJgILAAKyCKimEgsAJDYGQjsANDYWRQWLACQ2EbsANDYFmwAyWwgGJhIyAgsAQmI0ZhOBsjsAhDRrACJbAIQ0cjRyNhYCCwBEOwgGJgIyCwACsjsARDYLAAK7AFJWGwBSWwgGKwBCZhILAEJWBkI7ADJWBkUFghGyMhWSMgILAEJiNGYThZLbAyLLAAFiAgILAFJiAuRyNHI2EjPDgtsDMssAAWILAII0IgICBGI0ewACsjYTgtsDQssAAWsAMlsAIlRyNHI2GwAFRYLiA8IyEbsAIlsAIlRyNHI2EgsAUlsAQlRyNHI2GwBiWwBSVJsAIlYbABRWMjIFhiGyFZY7ABRWJgIy4jICA8ijgjIVktsDUssAAWILAIQyAuRyNHI2EgYLAgYGawgGIjICA8ijgtsDYsIyAuRrACJUZSWCA8WS6xJgEUKy2wNywjIC5GsAIlRlBYIDxZLrEmARQrLbA4LCMgLkawAiVGUlggPFkjIC5GsAIlRlBYIDxZLrEmARQrLbA5LLAwKyMgLkawAiVGUlggPFkusSYBFCstsDossDEriiAgPLAEI0KKOCMgLkawAiVGUlggPFkusSYBFCuwBEMusCYrLbA7LLAAFrAEJbAEJiAuRyNHI2GwBkUrIyA8IC4jOLEmARQrLbA8LLEIBCVCsAAWsAQlsAQlIC5HI0cjYSCwBCNCsAZFKyCwYFBYILBAUVizAiADIBuzAiYDGllCQiMgR7AEQ7CAYmAgsAArIIqKYSCwAkNgZCOwA0NhZFBYsAJDYRuwA0NgWbADJbCAYmGwAiVGYTgjIDwjOBshICBGI0ewACsjYTghWbEmARQrLbA9LLAwKy6xJgEUKy2wPiywMSshIyAgPLAEI0IjOLEmARQrsARDLrAmKy2wPyywABUgR7AAI0KyAAEBFRQTLrAsKi2wQCywABUgR7AAI0KyAAEBFRQTLrAsKi2wQSyxAAEUE7AtKi2wQiywLyotsEMssAAWRSMgLiBGiiNhOLEmARQrLbBELLAII0KwQystsEUssgAAPCstsEYssgABPCstsEcssgEAPCstsEgssgEBPCstsEkssgAAPSstsEossgABPSstsEsssgEAPSstsEwssgEBPSstsE0ssgAAOSstsE4ssgABOSstsE8ssgEAOSstsFAssgEBOSstsFEssgAAOystsFIssgABOystsFMssgEAOystsFQssgEBOystsFUssgAAPistsFYssgABPistsFcssgEAPistsFgssgEBPistsFkssgAAOistsFossgABOistsFsssgEAOistsFwssgEBOistsF0ssDIrLrEmARQrLbBeLLAyK7A2Ky2wXyywMiuwNystsGAssAAWsDIrsDgrLbBhLLAzKy6xJgEUKy2wYiywMyuwNistsGMssDMrsDcrLbBkLLAzK7A4Ky2wZSywNCsusSYBFCstsGYssDQrsDYrLbBnLLA0K7A3Ky2waCywNCuwOCstsGkssDUrLrEmARQrLbBqLLA1K7A2Ky2wayywNSuwNystsGwssDUrsDgrLbBtLCuwCGWwAyRQeLABFTAtAAAAS7gAyFJYsQEBjlm5CAAIAGMgsAEjRLADI3CyBCgJRVJEsgoCByqxBgFEsSQBiFFYsECIWLEGA0SxJgGIUVi4BACIWLEGAURZWVlZuAH/hbAEjbEFAEQAAA==') format('truetype');
}
 
 [class^="guiders_arrow_"]:before, [class*=" guiders_arrow_"]:before {
  font-family: guiders;
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
.guiders_x_button:before { content: '\e858'; } /* '' */
.guiders_arrow_down:before { content: '\e820'; } /* '' */
.guiders_arrow_left:before { content: '\e821'; } /* '' */
.guiders_arrow_right:before { content: '\e832'; } /* '' */
.guiders_arrow_up:before { content: '\e852'; } /* '' */

.guiders_arrow {
  width: 42px;
  height: 42px;
    
  font-size: 55px;
    color: #fff;
  font-family: "guiders";
  position: absolute;
  display: none;
  z-index: 900002 !important;

}

.guiders_arrow_right {
  display: block;
  right: -42px;
}
.guiders_arrow_down {
  display: block;
  bottom: -42px;
}
.guiders_arrow_up {
  display: block;
  top: -42px;
}
.guiders_arrow_left {
  display: block;
  left: -42px;
}
.guiders_button {
  background: -moz-linear-gradient(top, #5CA9FF 0%, #3D79C3 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #5CA9FF), color-stop(100%, #3D79C3));
  background-color: #4A95E0; /* Overruled by background gradient, in browsers where they exist */
  border: solid 1px #4B5D7E;
  color: #FFF;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-size: 75%;
  font-weight: bold;
  margin-left: 6px;
  min-width: 40px;
  padding: 3px 5px;
  text-align: center;
  text-decoration: none;
  /* Rounded corners */
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  /* End rounded corners */
}

.guiders_buttons_container {
  height: 36px;
  position: relative;
  width: 100%;
}

.guiders_close {
  float: right;
  padding: 10px 0 0;
}

.guiders_content {
  position: relative;
}

.guiders_content h1 {
  color: #1054AA;
  float: left;
  font-size: 21px;
}

.guiders_content p {
  clear: both;
  color: #333;
  font-size: 13px;
}

.guiders_highlight {
  z-index: 900003 !important; /* Should be larger than anything else on your page. */
}

#guiders_overlay {
  background-color: #000;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  opacity: 0.5;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  z-index: 800001;
}

.guiders_x_button {
  cursor: pointer;
  font-size: 16px
}
